html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background-color: rgba(151, 214, 208, 0.767);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

.intro {
    height: 100vh;
    background-color: aliceblue;
    margin: 20px;
    box-shadow: 0 8px 16px rgba(0.5, 0.5, 0.5, 0.9);
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-input {
    display: flex;
    flex-direction: row;
}
.name-input > input {
    width: 300px;
    height: 50px;
    border: 2px solid turquoise;
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin: 18px 20px;
    flex-grow: 1;
}
.name-input > input:focus {
    outline: none;
    border-color: #1f2937;
    box-shadow: 0 0 5px rgba(31, 41, 55, 0.5);
}
.name-input > button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    height: 50px;
    padding: 20px;
    background-color: rgba(151, 214, 208, 0.767);;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s;
}
#modes {
    display: flex;
    flex-direction: column;
    background-color: rgba(151, 214, 208, 0.767);
    padding: 30px;
    margin-top: 50px;
    height: 300px;
    width: 600px;
    align-items: center;
    color: aliceblue;
    border-radius: 30px;
}
.modes {
    background-color: rgb(8, 240, 217); 
    box-shadow: 0 0 25px 10px turquoise;
    transform: scale(1.05); 
    transition: all 0.4s ease;
    border-radius: 10px;
}
#modes > p {
    font-size: 40px;
    font-weight: bold;
}
#modes > button {
    width: 200px;
    height: 50px;
    background-color: white;
    color: #1f2937;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}
#modes > button:hover {
    background-color: turquoise;
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(158, 186, 197, 0.9);
    transform: scale(1.05);
}

.container {
    background-color: aliceblue;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0.5, 0.5, 0.5, 0.9);
}
.container > .title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #333333a4;
}

.human-and-comp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
}
.human-and-comp > .human,
.human-and-comp > .computer {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    flex: 0 0 auto;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(151, 214, 208, 0.767);
    box-shadow: 0 4px 8px rgba(158, 186, 197, 0.9);

}
.human-and-comp h6 {
    text-align: center;
    font-weight: bold;
    color: #333333a4;
    margin: 10px;
    font-size: 20px;
}
.human-and-comp hr {
    border: 1px solid #333333a4;
    width: 65%;
}
.human-and-comp .human-choice, .robot-choice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.human-choice > button, .robot-choice > button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin: 20px 5px;
    border: none;
    color: #333333a4;
    flex: 1;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
.human-choice > button:hover, .robot-choice > button:hover {
    background-color: turquoise;
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(158, 186, 197, 0.9);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.container  .image-container {
    margin: 10px;
    padding: 50px;
    border: 2px solid white;
    display: flex;
    flex-grow: 1;
    width: 60%;
    height: 250px;

}
.container img {
    margin: 20px 5px;
    width: 70%;
    flex-grow: 1;
    height: 90%;
}
.congrats {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #1f2937;
    border: turquoise 10px solid;
    border-radius: 20px;
    padding: 30px 60px;
    border-radius: 20px;
    display: none;
    text-align: center;
    font-size: 2rem;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.congrats > button {
    background-color: #1f2937;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}
.congrats > button:hover {
    background-color: turquoise;
    color: aliceblue;
    box-shadow: 0 4px 8px rgba(158, 186, 197, 0.9);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: large;
    border-bottom: 1px black solid;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 70px;
}
footer > .name, .contact {
    flex: 1;
    margin: 10px;
}